.header{
    height: 50vh;
}
h1{
    font-size: 5rem;
    padding-top: 8rem;
}

footer{
    height: 20vh;
}
.select-button{
    /* background-color: #a8c9e7; 
    color: rgb(250, 246, 246); */
    
    width: 100%;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;


}




